name: Make dist/

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish-dist:
    runs-on: ubuntu-latest
    environment: dist-branch

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}
          ssh-key: |
            ${{ secrets.DIST_PRIVATE_KEY }}

      - name: Setup asdf-vm
        uses: equisoft-actions/with-asdf-vm@v2
      - name: Install NPM dependencies
        uses: equisoft-actions/yarn-install@v1

      - name: Update the dist branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git checkout --force -B dist refs/remotes/origin/dist
          git merge ${{ github.ref_name }}

      - name: Rebuild the dist/ directory
        run: |
          yarn package
          cp -fr build/dist .

      - name: Publish dist/
        run: |
          git add -f dist/
          git diff-index --quiet HEAD || git commit -m "build: update dist/ from ${{ github.sha }}"
          git push --force
